
<input type="text" name="geocomplete" class="geocomplete" style="float: left;"/>

<div class="map-canvas" style="float: left; margin-top: 10px; width: 460px; height: 160px"/>

<div style="clear: both"></div>

